body,
html {
    background-color: #333959;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #2B304C;
}

span {
    padding: 0 20px;
    font-size: 18px;
}

.me{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.left-content, .right-content-about, .right-content-more{
    margin-top: 35px;
}

.right-content-about, .right-content-more{
    border-left: 5px solid #999CAC;
    height: 100%;
    
}
.right-content-about ul, .right-content-about h1, .right-content-more ul, .right-content-more h1, .right-content-more h2, .right-content-more p{
    padding-left: 50px;
}

h1{
    color: #FFF;
    font-weight: 500;
    font-size: 30px; 
}

h2, h3{
    font-weight: 300;
    font-size: 25px;
    color: #FEFEFE;
}

.social-icons a{
    color: #C1C3CC;
    padding: 0 10px;
}

.professions li{
    list-style-type: none;
    color: #C1C3CC;
    display: inline;
    padding: 5px 0;
    font-size: 18px;
}

.professions li a{
    border-bottom: 1px dashed #C1C3CC;
    color: #C1C3CC;
}